@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
.navbar {
  width: 100%;
  object-fit: cover;
  background-color: white;
  border-bottom: 1px solid #e5e5e5;
}
.navbar-inner {
  max-width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
.nav-links a {
  color: black;
  text-decoration: none;
  padding-left: 20px;
  font-family: "Poppins", sans-serif;
}
